body
{
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: top center;
}

nav
{
	margin-top: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.content
{
	margin-top: 100px;
}

header
{
	position: relative;
	padding-top: 30px;
	padding-bottom: 65px;
	background-image: linear-gradient(cyan,white);
}

#logoCab
{

}

header h1
{
        font-family: Verdana, sans-serif;
        text-align: center;
}

section
{
	
	margin-left: 50px;
	margin-right: 50px;
}	


section h1
{
	font-size: 1.6em;
	text-align: center;
		
}

section h2
{
	font-size: 1.2em;
}
	
nav
{
	display: inline-block;
	text-align: left;
	border: 2px blue solid;
}

nav li
{
	display: inline-block;
	margin-right: 15px;
}

nav a
{
	text-decoration: none;
	font-size: 1.2em;
	color: gray;
	
}

footer
{
	text-align: center;
	margin-top: 60px;
	border: 2px gray solid;
	width: 300px;
	margin-left: 350px;
	
}

footer h1
{
	font-size: 1.0em;
}

footer h2
{
	font-size: 0.8em;
}

footer p
{
	font-size: 0.6em;
}









